body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}

.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

.intro {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    background: #31344e
            url("img/intro-bg.jpg") center no-repeat;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

}

.intro__subtitle {
    font-size: 22px;
    line-height: 1.5;
    color: white;
    font-weight: 400;
    margin-bottom: 60px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background: crimson;
}